* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "LEMON MILK";
}

@font-face {

    font-family: 'LEMON MILK';
    src: url('../fonts/LEMONMILK-regular.otf'); /* IE9 Compat Modes */
    src: url('../fonts/LEMONMILK-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/LEMONMILK-regular.woff2') format('woff2'), /* Modern Browsers */
        url('../fonts/LEMONMILK-regular.woff') format('woff'), /* Modern Browsers */
        url('../fonts/LEMONMILK-regular.ttf') format('truetype'), /* Safari, Android, iOS */
        url('../fonts/LEMONMILK-regular.svg') format('svg'); /* Legacy iOS */
    font-weight: normal;
    font-style: normal;
};



